{% extends "base.html"  %}

{% block content %}
<section class="py-5 bg-light">
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-6 mx-auto">
                <div class="rounded-5 bg-white shadow">
                    <h3 class="p-4 text-center border-bottom">REGISTER FORM</h3>
                    <form action="" class="p-5" method="POST">
                        {{form.hidden_tag()}}
                        <div class="mb-3">
                            {{form.username.label(class="form-label")}}
                            {% if form.username.errors %}
                                {{form.username(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{form.username(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            {{form.email.label(class="form-label")}}
                            {% if form.email.errors %}
                                {{form.email(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{form.email(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            {{form.password.label(class="form-label")}}
                            {% if form.password.errors %}
                            <div class="invalid-feedback">
                                {{form.password(class="form-control form-control-lg is-invalid")}}
                                {% for error in form.password.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{form.password(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            {{form.confirm_password.label(class="form-label")}}
                            {{form.confirm_password(class="form-control form-control-lg")}}
                        </div>

                        <div>
                            {{form.submit(class="btn btn-primary btn-lg col-12")}}
                        </div>
                    </form>
                </div>
                
            </article>
        </section>
    </div>
</section>
{% endblock %}